:root {
  --white: #fff;
  --success: #68ad3e;
  --warning: #ffe568;
  --warning-dark: #ffc700;
  --danger: #f24e50;
  --danger-dark: #ff2400;

  --purple: #7367f0;
  --secondary: #82868b;
  --blue: #40a5ff;

  --primary: #3e57ad;
  --primary-light: #9eabd6;
  --primary-lighter: #cceafd;
  --primary-soft: #deeffe;
  --primary-softer: #eef7fe;
  --primary-whitish: #f6fbff;

  --info: #91c8fb;
  --info-dark: #2f4798;
  --info-light: #c8e3fd;
  --info-lighter: #cad6ff;
  --info-soft: #d8ddef;

  --dark: #061438;
  --gray-dark: #757575;
  --gray: #bac1cd;
  --gray-light: #cfd0d5;

  --ff: Montserrat, sans-serif;
}
